# GBA 6070 - Programming Foundation for Business Analytics
# Dr. Mohammad Salehan
# Assignment 11 - Preprocessing
Enter your name below.

Hua Yang

In this assignment you will work with a dataset of cars. Let's start with loading the dataset. The missing values in the dataset are marked with ``?``.

In [230]:
import pandas as pd
cars = pd.read_csv('Cars.csv', na_values='?')

1. Examine the shape of the ``dataframe``.

In [231]:
cars.shape

(205, 26)

2. Check the top 5 rows of the ``dataframe`` to see what it looks like.

In [232]:
cars.head()

,ymboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

3. Examine the number of missing values in each column.

In [233]:
cars.isnull().sum()

ymboling              0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

4. Replace the missing values in ``num-of-doors`` with the most frequent value. Examine the missing values again to make sure missing values for ``num-of-doors`` are removed.

In [234]:
cars["num-of-doors"]=cars["num-of-doors"].fillna(cars["num-of-doors"].mode().iloc[0])
cars.isnull().sum()

ymboling              0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          0
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

5. Replace the rest of missing values with mean of each column. Examine the missing values again to make sure all of them are removed.

In [235]:
cars=cars.fillna(cars.mean())
cars.isnull().sum()

/var/folders/ft/nr64ylkn0lqb43gh8m5vvy3h0000gn/T/ipykernel_27180/3887316373.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cars=cars.fillna(cars.mean())

ymboling             0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

6. Let's examine distinct values in ``num-of-doors``.

In [236]:
cars['num-of-doors'].unique()

array(['two', 'four'], dtype=object)

Convert the string values in ``num-of-doors`` to their numeric equivalent (2, 4).

In [237]:
a={'two':2,'four':4}
cars["num-of-doors"]=cars["num-of-doors"].apply(lambda x:a[x])
cars["num-of-doors"].value_counts()

4    116
2     89
Name: num-of-doors, dtype: int64

7. Do the same thing as above for ``num-of-cylinders``.

In [238]:
cars["num-of-cylinders"].value_counts()

four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: num-of-cylinders, dtype: int64

In [239]:
b={"four":4,"six":6,"five":5,"eight":8,"two":2,"three":3,"twelve":12}
cars["num-of-cylinders"]=cars["num-of-cylinders"].apply(lambda x:b[x])
cars["num-of-cylinders"].value_counts()

4     159
6      24
5      11
8       5
2       4
3       1
12      1
Name: num-of-cylinders, dtype: int64

8. For each ``make``, calculate maximum ``price``, minimum ``city-mpg``, and mean ``horsepower``.

In [240]:
import numpy as np
cars.groupby(['make']).aggregate({'price':max,'city-mpg':'min','horsepower':np.mean})

                      price  city-mpg  horsepower
make
alfa-romero    16500.000000        19  125.333333
audi           23875.000000        16  121.000000
bmw            41315.000000        15  138.875000
chevrolet       6575.000000        38   62.666667
dodge          12964.000000        19   86.333333
honda          12945.000000        24   80.230769
isuzu          13207.129353        24   77.000000
jaguar         36000.000000        13  204.666667
mazda          18344.000000        16   85.529412
mercedes-benz  45400.000000        14  146.250000
mercury        16503.000000        19  175.000000
mitsubishi     14869.000000        19  104.076923
nissan         19699.000000        17  102.555556
peugot         18150.000000        18   99.818182
plymouth       12764.000000        19   86.714286
porsche        37028.000000        17  210.400000
renault         9895.000000        23  104.256158
saab           18620.000000        19  126.666667
subaru         11694.000000        23   86.250000
toyota         17669.000000        19   92.781250
volkswagen     13845.000000        19   81.083333
volvo          22625.000000        17  128.000000

9. Which ``make`` is, on average, the most expensive?

In [241]:
most_expen=cars.groupby(['make']).aggregate({'price':np.mean})
most_expen.sort_values(by='price',ascending=False).head(1)

          price
make
jaguar  34600.0

10. Create dummies for all categorical columns.

In [242]:
dummies=pd.get_dummies(cars)
dummies

,ymboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,...,engine-type_ohcv,engine-type_rotor,fuel-system_1bbl,fuel-system_2bbl,fuel-system_4bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi,fuel-system_spfi
0,3,122.0,2,88.6,168.8,64.1,48.8,2548,4,130,...,0,0,0,0,0,0,0,1,0,0
1,3,122.0,2,88.6,168.8,64.1,48.8,2548,4,130,...,0,0,0,0,0,0,0,1,0,0
2,1,122.0,2,94.5,171.2,65.5,52.4,2823,6,152,...,1,0,0,0,0,0,0,1,0,0
3,2,164.0,4,99.8,176.6,66.2,54.3,2337,4,109,...,0,0,0,0,0,0,0,1,0,0
4,2,164.0,4,99.4,176.6,66.4,54.3,2824,5,136,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,4,109.1,188.8,68.9,55.5,2952,4,141,...,0,0,0,0,0,0,0,1,0,0
201,-1,95.0,4,109.1,188.8,68.8,55.5,3049,4,141,...,0,0,0,0,0,0,0,1,0,0
202,-1,95.0,4,109.1,188.8,68.9,55.5,3012,6,173,...,1,0,0,0,0,0,0,1,0,0
203,-1,95.0,4,109.1,188.8,68.9,55.5,3217,6,145,...,0,0,0,0,0,1,0,0,0,0
204,-1,95.0,4,109.1,188.8,68.9,55.5,3062,4,141,...,0,0,0,0,0,0,0,1,0,0

11. Normalize all numeric values in the dataset. Exclude the dummies. The final dataframe should include both the normalized values and the dummies.

In [243]:
from sklearn import preprocessing

min_max_scaler=preprocessing.MinMaxScaler()
num=cars.select_dtypes(exclude=['object'])
cars[num.columns]=min_max_scaler.fit_transform(num)
cars=pd.get_dummies(cars)
cars

,ymboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,...,engine-type_ohcv,engine-type_rotor,fuel-system_1bbl,fuel-system_2bbl,fuel-system_4bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi,fuel-system_spfi
0,1.0,0.298429,0.0,0.058309,0.413433,0.316667,0.083333,0.411171,0.2,0.260377,...,0,0,0,0,0,0,0,1,0,0
1,1.0,0.298429,0.0,0.058309,0.413433,0.316667,0.083333,0.411171,0.2,0.260377,...,0,0,0,0,0,0,0,1,0,0
2,0.6,0.298429,0.0,0.230321,0.449254,0.433333,0.383333,0.517843,0.4,0.343396,...,1,0,0,0,0,0,0,1,0,0
3,0.8,0.518325,1.0,0.384840,0.529851,0.491667,0.541667,0.329325,0.2,0.181132,...,0,0,0,0,0,0,0,1,0,0
4,0.8,0.518325,1.0,0.373178,0.529851,0.508333,0.541667,0.518231,0.3,0.283019,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0.2,0.157068,1.0,0.655977,0.711940,0.716667,0.641667,0.567882,0.2,0.301887,...,0,0,0,0,0,0,0,1,0,0
201,0.2,0.157068,1.0,0.655977,0.711940,0.708333,0.641667,0.605508,0.2,0.301887,...,0,0,0,0,0,0,0,1,0,0
202,0.2,0.157068,1.0,0.655977,0.711940,0.716667,0.641667,0.591156,0.4,0.422642,...,1,0,0,0,0,0,0,1,0,0
203,0.2,0.157068,1.0,0.655977,0.711940,0.716667,0.641667,0.670675,0.4,0.316981,...,0,0,0,0,0,1,0,0,0,0
204,0.2,0.157068,1.0,0.655977,0.711940,0.716667,0.641667,0.610551,0.2,0.301887,...,0,0,0,0,0,0,0,1,0,0

In [228]:
#We also can use StandardScaler from sklearn processing to doing Srandardization

#from sklearn.preprocessing import StandardScaler

#sta=StandardScaler()
#num=cars.select_dtypes(exclude=['object'])
#cars[num.columns]=sta.fit_transform(num)
#cars=pd.get_dummies(cars)
#cars

,ymboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,...,engine-type_ohcv,engine-type_rotor,fuel-system_1bbl,fuel-system_2bbl,fuel-system_4bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi,fuel-system_spfi
0,1.743470,0.000000,-1.141653,-1.690772,-0.426521,-0.844782,-2.020417,-0.014566,-0.352887,0.074449,...,0,0,0,0,0,0,0,1,0,0
1,1.743470,0.000000,-1.141653,-1.690772,-0.426521,-0.844782,-2.020417,-0.014566,-0.352887,0.074449,...,0,0,0,0,0,0,0,1,0,0
2,0.133509,0.000000,-1.141653,-0.708596,-0.231513,-0.190566,-0.543527,0.514882,1.502032,0.604046,...,1,0,0,0,0,0,0,1,0,0
3,0.938490,1.328961,0.875923,0.173698,0.207256,0.136542,0.235942,-0.420797,-0.352887,-0.431076,...,0,0,0,0,0,0,0,1,0,0
4,0.938490,1.328961,0.875923,0.107110,0.207256,0.230001,0.235942,0.516807,0.574572,0.218885,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1.476452,-0.854332,0.875923,1.721873,1.198549,1.398245,0.728239,0.763241,-0.352887,0.339248,...,0,0,0,0,0,0,0,1,0,0
201,-1.476452,-0.854332,0.875923,1.721873,1.198549,1.351515,0.728239,0.949992,-0.352887,0.339248,...,0,0,0,0,0,0,0,1,0,0
202,-1.476452,-0.854332,0.875923,1.721873,1.198549,1.398245,0.728239,0.878757,1.502032,1.109571,...,1,0,0,0,0,0,0,1,0,0
203,-1.476452,-0.854332,0.875923,1.721873,1.198549,1.398245,0.728239,1.273437,1.502032,0.435538,...,0,0,0,0,0,1,0,0,0,0
204,-1.476452,-0.854332,0.875923,1.721873,1.198549,1.398245,0.728239,0.975021,-0.352887,0.339248,...,0,0,0,0,0,0,0,1,0,0

In [244]:
cars.to_csv('test.csv')